<div class="form-container container">
  <div class="withdrawal-row row">
    <div class="withdrawal-content col-md-10 col-lg-10 col-xl-10">
      <span>
        <h3 class="title">退会</h3>
      </span>
      <p>退会すると、アカウントに関する全ての情報が閲覧できなくなります。</p>
      <p>退会する場合は「退会する」を選択してください。</p>
      <div>
        <%= link_to "マイページ", user_path(@user), class: "btn ms-3 btn-mypage" %>
        <%= link_to "退会する", user_registration_path, method: :delete, class: "btn ms-3 btn-withdrawal", data: { confirm: "本当に退会しますか？" }  %>
      </div>
    </div>
  </div>
</div>
