<% provide(:title, "#{@post_user.username}: フォロー") %>
<div class="navigation-link">
  <div>
    <%= link_to_unless_current "TOP", root_path, data: { "turbolinks" => false } %>
    <i class="fa-solid fa-angle-right fa-xs" style="color: #ffffff; margin: 0 2px;"></i>
    <%= link_to_unless_current @post_user.username, user_path(@post_user), data: { "turbolinks" => false } %>
    <i class="fa-solid fa-angle-right fa-xs" style="color: #ffffff; margin: 0 2px;"></i>
    <%= link_to_unless_current "フォロー", follows_user_path(@post_user), data: { "turbolinks" => false } %>
  </div>
</div>
<div class="flex-shrink-0 users-container">
  <div class="profile-area">
    <h3 class="title">
      <i class="fa-solid fa-users"></i>
      <span>フォロー</span>
    </h3>
    <% if @follows.present? %>
      <%= render "shared/user_lists", users: @follows %>
    <% else %>
      <div class="not-applicable">フォローしたユーザーはいません。</div>
    <% end %>
  </div>
</div>
