<%= link_to post_favorite_path(post.id), class: "filled-heart", method: :post, remote: true do %>
  <i class="fa-regular fa-heart"></i>
<% end %>
<span class="likes"><%= post.favorites.size %></span>
