<footer class="footer mt-auto py-3">
  <div>
    <%= link_to root_path, class: "navbar-brand", data: { "turbolinks" => false } do %>
      <%= image_tag "OSHIDOKO.png", size: "195x55" %>
    <% end %>
  </div>
  <div>&copy; Reo Kambara</div>
</footer>
