<footer class="footer mt-auto py-3">
  <div>
    <div class="logo">
      <%= link_to root_path, class: "navbar-brand", data: { "turbolinks" => false } do %>
        <%= image_tag "OSHIDOKO_removebg.png", size: "195x55" %>
      <% end %>
    </div>
    <div class="copyright">
      <div>&copy; 2016 Seed & Flower LLC&emsp;当ウェブサイトで使用しているマーカー画像の著作権、商標権、およびその他知的財産権は、当該コンテンツの提供元に帰属します。</div>
      <div>&copy; 2023 Reo Kambara</div>
    </div>
  </div>
</footer>
