<div class="notice"><%= notice %></div>
<%= link_to new_post_path, class: "post-button", data: {"turbolinks"=>false} do %>
  <i class="fa-solid fa-map-pin fa-2xl"></i>
  <span>投稿する</span>
<% end %>

<div class="context">
  <h1>トップページです</h1>
</div>

<div class="top-area">
  <ul class="triangles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div >

<div class="top flex-shrink-0 container">
  <div class="map-area"></div>
  <div class="posts-area">
  </div>
</div>
