<div class="notice"><%= notice %></div>

<div class="context">
  <h1>トップページです</h1>
</div>

<div class="area">
  <ul class="triangles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div >

<div class="top flex-shrink-0 container">
  <div class="map-area"></div>
  <div class="posts_area">
  </div>
</div>
