body {
  @import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanjp.min.css');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Exo:400,700');
  font-family: YakuHanJP, -apple-system, BlinkMacSystemFont, "Noto Sans JP", "Roboto", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Arial", "Exo", sans-serif !important;
  color: #535353;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  word-break: break-word;
  height: 100%;
}

body:after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgb(125, 229, 250);
  background-image: linear-gradient(120deg, rgba(87, 217, 255, 0.49), rgba(255, 255, 255, 0)), linear-gradient(185deg, rgba(109, 214, 255, 0.32), rgba(255, 255, 255, 0)), linear-gradient(340deg, rgba(152, 255, 170, 0.8), rgba(255, 255, 255, 0));
  z-index: -1;
}

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none !important;
}

ul {
  list-style:none;
}

.container {
  padding-top: 85px;
}

// 通知
.notice {
  width: fit-content;
  background-color: rgba(97, 186, 238, .6);
  color: rgb(255, 255, 255);
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgb(255, 255, 255);
  padding: 10px 15px;
  margin: auto;
  margin-top: 60px;
  position: fixed;
  bottom: 80px;
  right: 0;
  left: 0;
  z-index: 999;
}

.notice:empty {
  display: none;
}

// フラッシュメッセージ
.alert {
  color: rgb(255, 255, 255) !important;
  font-size: 14px;
  width: fit-content;
  background-color: #ff0000cc !important;
  border-radius: 5px !important;
  box-shadow: 0 0 8px #909090;
  padding: 10px 15px !important;
  margin: auto !important;
  margin-top: 60px !important;
  position: fixed !important;
  bottom: 80px;
  right: 0;
  left: 0;
  z-index: 10000;
}

.alert:empty {
  display: none;
}

// ヘッダー
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header .inner {
  height: 65px;
  background: #fff;
  border-radius: 0 0 30px 30px;
  box-shadow: 0px 13px 30px -15px rgba(0, 0, 0, 0.4);
  transition: height 0.05s;
}

.header-left {
  margin-left: 20px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 30px;
}

.nav-link, .dropdown-item {
  color: #116e9b !important;
}

.nav-link:hover, .dropdown-item:hover, .dropdown-item:active, .top-link {
  color: #56c6fd !important;
}

.nav-link {
  margin-right: 25px;
}

.dropdown-item:active {
  background-color: rgb(247, 247, 247) !important;
}

.dropdown-menu-custom {
  top: 50px !important;
  min-width: 100px !important;
}

.dropdown-item {
  font-size: 14px;
}

.dropdown-menu hr {
  margin: 5px;
}

.btn-account .status-signed-in .header-username {
  color: rgb(23, 23, 23);
  margin-left: 5px;
}

.btn-account .status-signed-in .header-username:hover, .btn-account .status-signed-in .header-username:active {
  opacity: .6;
}

.btn-account .status-signed-out a {
  background-color: rgb(47, 159, 215);
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  letter-spacing: .5px;
  padding: 8px;
}

.btn-account .status-signed-out a:hover, .btn-account .status-signed-out a:active {
  opacity: .8;
}

.rounded-circle {
  border: 1px solid rgb(160, 160, 160);
  object-fit: cover;
}

.user-default-img {
  padding: 3px;
  background-color: #dae1e48a;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .header-right {
    margin-right: 5px;
  }
}

@media screen and (min-width: 436px) {
  .hidden-over-435px {
    display: none !important;
  }
}

@media screen and (max-width: 435px) {
  .header-right {
    margin-right: 5px;
    gap: 8px;
  }

  .status-signed-out {
    display: none;
  }

  .hidden-over-435px a {
    color: #116e9b;
  }

  .hidden-over-435px a:hover, .hidden-over-435px a:active {
    color: #56c6fd !important;
  }

  .btn-account .status-signed-in .header-username {
    display: none;
  }

  .btn-account .status-signed-out a {
    font-size: 12px;
    padding: 4px;
  }
}

// フッター
footer {
  background-color: #00a6ff82;
}

footer > div {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 16px auto;
}

footer .logo {
  text-align: center;
}

footer .copyright {
  text-align: left;
  font-size: 11px;
  font-family: "Roboto";
  color: #575151;
}

footer .copyright > div {
  margin-left: 16px;
}

@media screen and (max-width: 767px) {
  footer > div {
    flex-direction: column-reverse;
  }

  footer .logo {
    margin-top: 20px;
  }

  footer .copyright > div {
    margin-left: 0;
  }
}

// ナビゲーションリンク
.navigation-link {
  color: #22699c;
  margin: 88px 35px 0 35px;
}

.navigation-link > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navigation-link a {
  color: #22699c;
  font-size: 16px;
}

.navigation-link a:hover, .navigation-link a:active {
  opacity: .8;
}

@media screen and (max-width: 575px) {
  .navigation-link {
    font-size: 12px;
    margin: 88px auto 0 auto;
    width: 90%;
  }

  .navigation-link a {
    font-size: 12px;
  }
}
