// 投稿ボタン
.post-button {
  display: block;
  width: fit-content;
  color: rgb(255, 255, 255);
  font-size: 15px;
  letter-spacing: 0.05em;
  background: linear-gradient(to right, rgba(97, 194, 233, .8) 0%, rgba(81, 235, 184, .9) 100%);
  box-shadow: 0 0 4px rgb(253, 253, 253);
  border-radius: 2em;
  border: none;
  padding: 10px 15px;
  margin: auto;
  position: fixed;
  right: 36px;
  bottom: 30px;
  z-index: 998;
}

.post-button:hover, .post-button:active {
  opacity: .8;
}

// トップビュー
.context {
  width: 100%;
  position: absolute;
  top: 200px;
  z-index: 100;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.context {
  padding-left: 0;
}

.area {
  background: #2eb6ff;  
  width: 100%;
  height: 550px;
}

.triangles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  overflow: hidden;
  padding-left: 0;
  background-color: #2eb6ff;
}

.triangles li {
  position: absolute;
  display: block;
  list-style: none;
  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: 99;
}

.triangles li:nth-child(1) {
  left: 25%;
  border-bottom: 50px solid rgba(255, 255, 255, 0.39);
  border-left: 50px solid transparent;
  animation-delay: 0s;
}

.triangles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  border-bottom: 100px solid rgba(255, 255, 255, 0.39);
  border-left: 100px solid transparent;
  animation-delay: 2s;
  animation-duration: 12s;
}

.triangles li:nth-child(3) {
  left: 70%;
  border-bottom: 50px solid rgba(255, 255, 255, 0.39);
  border-left: 50px solid transparent;
  animation-delay: 4s;
}

.triangles li:nth-child(4) {
  left: 40%;
  border-bottom: 60px solid rgba(255, 255, 255, 0.39);
  border-left: 60px solid transparent;
  animation-delay: 0s;
  animation-duration: 18s;
}

.triangles li:nth-child(5) {
  left: 65%;
  border-bottom: 30px solid rgba(255, 255, 255, 0.39);
  border-left: 30px solid transparent;
  animation-delay: 0s;
}

.triangles li:nth-child(6) {
  left: 75%;
  border-bottom: 80px solid rgba(255, 255, 255, 0.39);
  border-left: 80px solid transparent;
  animation-delay: 3s;
}

.triangles li:nth-child(7) {
  left: 35%;
  border-bottom: 150px solid rgba(255, 255, 255, 0.39);
  border-left: 150px solid transparent;
  animation-delay: 7s;
}

.triangles li:nth-child(8) {
  left: 50%;
  border-bottom: 25px solid rgba(255, 255, 255, 0.39);
  border-left: 25px solid transparent;
  animation-delay: 15s;
  animation-duration: 45s;
}

.triangles li:nth-child(9) {
  left: 20%;
  border-bottom: 35px solid rgba(255, 255, 255, 0.39);
  border-left: 35px solid transparent;
  animation-delay: 2s;
  animation-duration: 35s;
}

.triangles li:nth-child(10) {
  left: 85%;
  border-bottom: 125px solid rgba(255, 255, 255, 0.39);
  border-left: 125px solid transparent;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
}

100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 0;
}
}

// マップ表示
.top {
  width: 85%;
  max-width: 1380px;
  margin: 0 auto;
  margin-top: 600px;
}

.top .title {
  color: rgb(255, 255, 255);
  font-family: 'Comic Sans MS', cursive;
}

.posts-map-area {
  margin-top: 15px;
  margin-bottom: 65px;
}

#posts-map {
  height: 80vh !important;
  margin: 0 30px;
}

@media screen and (max-width: 991px) {
  #posts-map {
    height: 60vh !important;
  }
}

@media screen and (max-width: 767px) {
  #posts-map {
    height: 45vh !important;
  }
}

@media screen and (max-width: 543px) {
  #posts-map {
    height: 30vh !important;
  }
}

// マップ上の吹き出し
.infowindow-content .title {
  color: #116e9b;
  font-weight: bold;
}

.infowindow-content .title:hover, .infowindow-content .title:active {
  opacity: .8;
}

.infowindow-content .address {
  font-size: 11px;
  margin-top: -4px;
  margin-bottom: 5px;
  margin-left: 4px;
}

.infowindow-content .members-involved {
  font-size: 11px;
  color: #63c3c0;
  width: fit-content;
  padding: 2px 6px 0 0;
  margin-bottom: 2px;
}

.infowindow-content .member-name {
  font-size: 10px;
  width: 80px;
  padding: 3px 6px;
  margin-right: 3px;
  margin-bottom: 2px;
  background-color: #61baee;
  border-radius: 2em 0 0 2em;
  color: rgb(255, 255, 255);
  display: inline-block;
}

.infowindow-content .member-name:before {
	content: '●';
	margin-right: .5em;
	color: #943ba8;
}

// 投稿表示
.posts-area {
  margin-bottom: 45px;
}

.posts-area > div {
  margin: 0 30px;
}

.search-form form {
  font-size: 14px;
  display: flex;
  justify-content: end;
  gap: 6px;
  margin-bottom: 8px;
}

.search-form input {
  width: 35%;
  border: 1px solid #6c757d7d;
  border-radius: 3px;
  padding: 1px 4px;
}

.search-form input:placeholder-shown {
  text-overflow: ellipsis;
}

.search-form input:focus {
  border-width: 1px;
  border-style: solid;
  border-color: #3affd5;
  border-image: initial;
  outline: 0px;
}

.search-form button {
  width: 33px;
  color: rgb(255, 255, 255);
  background-color: #116e9b;
  border: 1px solid #6c757d7d;
  border-radius: 5px;
}

.search-form button:hover, .search-form button:active {
  background-color: #0d4865;
}

.not-applicable {
  font-size: 14px;
}

.posts .number-of-displays {
  display: block;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  margin-bottom: 3px;
}

.posts .pagination {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 4px;
}

.posts .pagination > li > a {          
  border: none;
  font-size: 12px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  white-space: nowrap;
}

.posts .pagination > .active > a {   
  color: #116e9b;  
  background: rgba(255, 255, 255, .65);
  border-radius: 2em;
}

.posts .pagination > li > a:hover {        
  color: #116d9bb0; 
}

.post {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(255, 255, 255);
  padding: 9px 12px 0 12px;
  gap: 12px;
}

.post-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.post-left-upper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-left-upper > div:nth-of-type(2) > div:first-of-type {
  font-size: 12px;
}

.post-left-upper .title {
  font-size: 14px;
  font-weight: bold;
  color: #116e9b;
}

.post-left-upper .title:hover, .post-left-upper .title:active {
  opacity: .8;
}

.post-left-upper > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) {
  font-size: 12px;
  color: rgba(0, 0, 0, .6);
  margin-top: -2px;
  margin-left: 6px;
}

.post-left-lower .members-involved {
  font-size: 12px;
  color: #63c3c0;
  width: fit-content;
  padding: 2px 6px;
  margin-top: 6px;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 3px;
}

.post-left-lower .member-name {
  font-size: 10px;
  width: 80px;
  padding: 3px 6px;
  margin-right: 3px;
  background-color: #61baee;
  border-radius: 2em 0 0 2em;
  color: rgb(255, 255, 255);
  display: inline-block;
}

.post-left-lower .member-name:before {
	content: '●';
	margin-right: .5em;
	color: #943ba8;
}

.post-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.post-right > div:first-of-type {
  font-size: 12px;
  color: rgba(98, 98, 98, .9);
  white-space: nowrap;
}

.post-right > div:nth-of-type(2) > a {
  font-size: 14px;
  color: #116e9b;
}

.post-right > div:nth-of-type(2) > a:hover, .post-right > div:nth-of-type(2) > a:active {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .post .hidden-over-767px {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .post {
    display: block;
  }

  .post-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
  }

  .post-upper > div:first-of-type {
    font-size: 10px;
    color: rgba(98, 98, 98, .9);
  }

  .post-upper > div:nth-of-type(2) {
    font-size: 12px;
  }

  .post-upper > div:nth-of-type(2) > a {
    color: #116e9b;
  }

  .post-upper > div:nth-of-type(2) > a:hover, .post-upper > div:nth-of-type(2) > a:active {
    opacity: .8;
  }

  .post-left-upper > div:first-of-type {
    display: none;
  }

  .post-left-upper > div:nth-of-type(2) > div:first-of-type {
    display: inline;
    font-size: 13px;
  }

  .post-left-upper .title {
    font-size: 13.5px;
    margin-top: 2px;
  }

  .post-left-upper > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) {
    font-size: 10px;
  }

  .post-left-lower .members-involved {
    font-size: 11px;
    margin-bottom: 0;
  }

  .post-right {
    display: none;
  }
}

@media screen and (max-width: 543px) {
  .search-form input:first-of-type {
    width: 100%;
  }

  .posts .pagination {
    justify-content: space-around;
  }

  .posts .pagination > li > a {
    font-size: 11px;
    padding: 2px 6px;
  }
}
