<p>こんにちは、<%= @resource.email %> 様</p>
<p>下記のリンクより、パスワードを再設定してください。</p>
<p>下記のリンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。</p>
<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>※このリンクの有効期限は6時間です。</p>
<p>このメールに心当たりがない場合は、このメールを無視してください。</p>
